# Copy file ini menjadi .env dan isi dengan nilai yang sebenarnya
# cp .env.example .env

# Token untuk fetch produk dari SternaCart saat build
# Minta token ke maintainer project
STERNACART_FEED_TOKEN=
